.centered {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 140px; /* Need a specific value to work */
}

html{
  height:100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.modal {
    width: 90%;
}

.datarow{
  margin:0px !important;
  padding:4px !important;
}

.Site {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.nota-excelente{
  color:rgb(110, 233, 0);
}

.nota-bom{
  color:rgb(0, 207, 132);
}

.nota-ruim{
  color:rgb(180, 0, 0);
}


#notifications-button{
  position: fixed !important;
  bottom: 9%;
  left:90%;
  z-index: 100;
}

.toprightcorner{
  /*padding:0px;*/

}
.Site-content {
  flex: 1;
}

.data-container{
  margin-left:5% !important;
  margin-right:5% !important;
}

.tooltipster-base{
  height: inherit !important;
  z-index: 999 !important;
}

.collapsible-body {
    background-color: #f7f7f7;
    display:block;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    padding: 0.5rem;
    color:black;
}

@media only screen and (max-device-width: 480px) {
  #notifications-button{
    position: fixed;
    bottom: 5% !important;
    left: 80% !important;

  }
}
@media only screen and (min-device-width: 480px) {
  #toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 30% !important;
    left:40% !important;
  }
}

.side-bar-text{
  text-shadow: 2px 2px 10px #000000;
}

.sticky {
  position: fixed;
  z-index: 9999;
  width: 100%;
}


.tooltip_templates { display: none; }

.mainbg{
  background-image: url("../img/background1.jpg");
  background-size:cover;
  width: 100% !important;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/materialicons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.header{
  color:rgba(210, 0, 0, 1);
}

.navcolor{
  background-color: rgba(175, 5, 5, 0.95);
}

.dropdown-content {
    background-color: #FFF
    margin: 0;
    display: none;
    min-width: 190px;
    max-height: 650px;
    overflow-y: auto;
    opacity: 0;
    position: relative;
    z-index: 999;
    will-change: width, height;
}

#user-modal{
  max-height: 90% !important;
}

.image-upload > input {
    display: none;
}

.userbt{
  margin-top: 15px;
  width: 260px;
}

/*input[type=range]+.thumb.active {
  margin-left: -17px !important;
  min-width: 50px;
  min-height: 50px;
  top: -60px !important;
}*/

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: rgba(211, 47, 47, 1) !important;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}
.dropdown-content li>a>i {
    margin: 0 10px 0 0;
}

nav {
    color: #fff;
    background-color: rgba(238, 110, 115, 0);
    height: 45px;
    line-height: 45px;
    /* width: 100%; */
    /* height: 56px; */
    /* line-height: 56px; */
}

/*IMPORTS FROM TEMPLATE*/
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

nav a.button-collapse, nav a.button-collapse i{
    height: 100% !important;
    line-height: inherit !important;
}

  @media only screen and (min-width: 601px){

  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

/*footer.page-footer {
  margin: 0;
}*/
